{% extends 'shop/base.html' %}

{% block title %}Фильтр продуктов{% endblock %}

{% block content %}
<h2>Фильтр товаров</h2>
<form method="GET">
    <select name="category">
        <option value="">Все категории</option>
        <option value="electronics">Электроника</option>
        <option value="clothing">Одежда</option>
        <option value="domestic">бытовой товар</option>
        <!-- Добавьте другие категории -->
    </select>
    <input type="number" name="min_price" placeholder="Мин. цена">
    <input type="number" name="max_price" placeholder="Макс. цена">
    <button type="submit">Применить фильтр</button>
</form>

<h2>Список товаров</h2>
<ul>
    {% for product in products %}
        <li>{{ product.name }} - Категория: {{ product.category }} - Цена: {{ product.price }}</li>
    {% endfor %}
</ul>
{% endblock %}